#root {
  margin: auto;
}

.main-text {
  font-size: 2rem;
  font-weight: 700;
  max-width: 50%;
  text-align: center;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Project_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  border: 5px solid rgb(102, 30, 78);
  border-radius: 25px;
  width: 40%;
  color: violet;
  background-color: rgba(128, 128, 128, 0.815);
  background: linear-gradient(
    69.9deg,
    rgb(76, 79, 106) 3.2%,
    rgb(118, 124, 163) 97.6%
  );
  opacity: 0.5;
}

.card h1 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.project_card h1 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}
